<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="jumbotron">
                <h1 class="display-4">
                    <%= project.title %>
                </h1>
                <p class="lead">
                    <%= project.previewDescription %>
                </p>
            </div>
            <div class="text-center" style="padding-bottom: 50px;"> <img src="<%= project.imageUrl %>" alt=""
                    class="img-fluid"> </div>
            <div class="text-center">
                <p class="h4">Tech Stack:</p>
            </div>
            <div class="text-center">
                <p class="lead">
                    <%= project.techStack %>
                </p>
            </div>
            <div class="text-center" style="margin-top: 20px;">
                <p class="h4">Why This Exists:</p>
            </div>
            <div class="text-center">
                <p class="lead">
                    <%= project.description %>
                </p>
            </div>
            <div class="text-center" style="margin-top: 20px;">
                <p class="h4">Project Link:</p>
            </div>
            <div class="text-center">
                <a href="<%= project.link %>" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Project Link</a>
            </div>
            <div class="text-center" style="margin-top: 20px;">
                <p class="h4">Source Code:</p>
            </div>
            <div class="text-center">
                <a href="<%= project.gitHubLink %>" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Source Code</a>
            </div>
            <%- include('../includes/end.ejs') %>