<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="jumbotron">
                <h1 class="display-4">Blog Posts</h1>
                <p class="lead">Sharing my thoughts with all of you.</p>
            </div>
            <% if (blogs.length> 0) { %>
                <div class="container">
                    <div class="row row-cols-auto">
                        <% for (let blog of blogs) { %>
                            <div class="col">
                                <div class="card" style="width: 18rem; margin-top: 10px;">
                                    <img src="<%= blog.imageUrl %> " class="card-img-top" alt="<%= blog.title %> ">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <%= blog.title %>
                                        </h4>
                                        <p class="card-text">
                                            <%= blog.previewDescription %>
                                        </p>
                                        <a href="/blogs/<%= blog.id %>" class="btn btn-outline-dark">Read More</a>
                                        <% if (isAdmin) { %>
                                            <form method="POST" action="/blogs/<%= blog.id %>?_method=DELETE"> <button
                                                    type="submit" class="btn btn-primary">Delete Blog</button>
                                            </form>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
                <% } else { %>
                    <h1 class="display-4">Coming soon!</h1>
                    <% } %>
                        <%- include('../includes/end.ejs') %>