<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="jumbotron">
                <h1 class="display-4">
                    <%= blog.title %>
                </h1>
                <p class="lead">
                    <%= blog.previewDescription %>
                </p>
            </div>
            <div class="text-center" style="padding-bottom: 50px;"> <img src="<%= blog.imageUrl %>" alt=""
                    class="img-fluid"> </div>
            <div class="text-center">
                <p>
                    <%= blog.description %>
                </p>
            </div>
            <%- include('../includes/end.ejs') %>